---
layout: default
title: Home
---

<div class="home-intro">
  <h1>Welcome</h1>
  <p>
    Welcome to Dirty Vol Quant, my name is Jason DiBiase. Below you can find my latest blog/research posts. 
  </p>

  <p>
    <a href="/projects/">Projects</a> ·
    <a href="https://github.com/dibiasej">GitHub</a> ·
    <a href="https://www.linkedin.com/in/jasondibiase/">LinkedIn</a>
  </p>
</div>

<hr>

<h2>Posts</h2>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title" style="margin-bottom: .25rem;">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>

    <span class="post-date">{{ post.date | date: "%d %b %Y" }}</span>

    <p style="margin-top: .5rem;">
      {{ post.excerpt | strip_html | truncate: 220 }}
      <a href="{{ post.url }}">Read more…</a>
    </p>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}

  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>